[submodule "themes/even"]
	path = themes/even
	url = https://github.com/uyaki/hugo-theme-even.git
	branch = master
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "public"]
	path = public
	url = git@github.com:uyaki/uyaki.github.io.git
